{% extends "base.html" %}

{% load static %}

{% block title %}Access Course - Learnaura{% endblock %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Page Banner START -->
<section class="bg-light position-relative" style="padding-bottom: 300px; padding-top: 300px;">

	<!-- Svg decoration -->
	<figure class="position-absolute bottom-0 start-0 d-none d-lg-block">
		<svg width="822.2px" height="301.9px" viewBox="0 0 822.2 301.9">
			<path class="fill-warning opacity-5" d="M752.5,51.9c-4.5,3.9-8.9,7.8-13.4,11.8c-51.5,45.3-104.8,92.2-171.7,101.4c-39.9,5.5-80.2-3.4-119.2-12.1 c-32.3-7.2-65.6-14.6-98.9-13.9c-66.5,1.3-128.9,35.2-175.7,64.6c-11.9,7.5-23.9,15.3-35.5,22.8c-40.5,26.4-82.5,53.8-128.4,70.7 c-2.1,0.8-4.2,1.5-6.2,2.2L0,301.9c3.3-1.1,6.7-2.3,10.2-3.5c46.1-17,88.1-44.4,128.7-70.9c11.6-7.6,23.6-15.4,35.4-22.8 c46.7-29.3,108.9-63.1,175.1-64.4c33.1-0.6,66.4,6.8,98.6,13.9c39.1,8.7,79.6,17.7,119.7,12.1C634.8,157,688.3,110,740,64.6 c4.5-3.9,9-7.9,13.4-11.8C773.8,35,797,16.4,822.2,1l-0.7-1C796.2,15.4,773,34,752.5,51.9z"></path>
		</svg>
	</figure>

	<div class="container position-relative">
		<div class="row">
			<div class="col-12">
				<div class="row align-items-center">

					<!-- Left Space -->
					<div class="col-6 col-md-3 text-center order-1">
						
					</div>

					<!-- Content -->
					<div class="col-md-6 px-md-5 text-center position-relative order-md-2 mb-5 mb-md-0">

						<!-- Title -->
						<h1 class="mb-3">Gain access to a course</h1>
						<p class="mb-3">Input below the course code</p>

						
						<form action="" method="POST" class=" rounded p-2">
							{% csrf_token %}

							{% if messages %}
								<div>
									{% for message in messages %}
										<div style="color: red">
											{{ message }}
										</div>
									{% endfor %}
								</div>
							{% endif %}
							<div class="input-group">
								<input class="form-control border-0 me-1" name="course_code" type="text" placeholder="Course Code">
								<button type="submit" class="btn btn-dark mb-0 rounded">Acess</button>
							</div>
						</form>
					</div>
					

					<!-- Right space -->
					<div class="col-6 col-md-3 text-center order-3">
						
					</div>
					
					
				</div> <!-- Row END -->

			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Page Banner END -->


<section class="pt-0">
	
</section>



</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}

